*{
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
	background-color: cornsilk;
	overflow: hidden;
}
h1{
	font-size: 40px;
	margin-top: 50px;
}
h2{
	margin-top:20px;
}
img,.active{
	position: absolute;
	width: 33.33%;
	max-width: 300px;
	max-height: 300px;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all .4s ease-out;
	-webkit-transition: all .4s ease-out;/*动画*/
}
.active{
	transform: scale(1);
	-webkit-transform: scale(1);
}
canvas,div{
	position: absolute;
	left: 50%;
	width: 72%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	transform: translate(-50%,0%);
	-webkit-transform: translate(-50%,0%);/*居中*/
	margin-top: 50px;
}
div{z-index: 1;}
#temp{
	position: fixed;
	top: 200%;
	left: 200%;
	transform: scale(0.1);
	-webkit-transform: scale(0.1);
}